<div class="row">
    <!-- I/ KHAM BENH -->
    <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>I/ KHÁM BỆNH HIỆN TẠI <small> </small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a class="dropdown-item" href="#">Settings 1</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
          <!-- form khám bệnh  -->
            
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="item form-gruoup">
                <img src="<?=_DEFAULT_URL_?>images/Dau.png" alt="hinhkhambenh" width="100%"  style="border: 1px solid;" usemap="#image-map">
                <map name="image-map">
                  <area target="" alt="1" title="1"  coords="124,54,8" shape="circle">
                  <area target="" alt="2" title="2" href="#" coords="163,54,6" shape="circle">
                  <area target="" alt="3" title="3" href="#" coords="105,93,6" shape="circle">
                  <area target="" alt="4" title="4" href="#" coords="128,99,8" shape="circle">
                  <area target="" alt="5" title="5" href="#" coords="157,99,8" shape="circle">
                  <area target="" alt="6" title="6" href="#" coords="181,92,5" shape="circle">
                  <area target="" alt="7" title="7" href="#" coords="98,109,10" shape="circle">
                  <area target="" alt="8" title="8" href="#" coords="188,110,10" shape="circle">
                  <area target="" alt="9" title="9" href="#" coords="92,163,9" shape="circle">
                  <area target="" alt="10" title="10" href="#" coords="194,163,9" shape="circle">
                  <area target="" alt="11" title="11" href="#" coords="40,224,8" shape="circle">
                  <area target="" alt="12" title="12" href="#" coords="239,224,9" shape="circle">
                  <area target="" alt="13" title="13" href="#" coords="74,247,7" shape="circle">
                  <area target="" alt="14" title="14" href="" coords="206,247,7" shape="circle">
                  <area target="" alt="15" title="" href="" coords="84,259,7" shape="circle">
                  <area target="" alt="16" title="" href="" coords="197,259,7" shape="circle">
                  <area target="" alt="17" title="" href="" coords="59,271,7" shape="circle">
                  <area target="" alt="18" title="" href="" coords="221,271,7" shape="circle">
                  <area target="" alt="19" title="" href="" coords="62,287,6" shape="circle">
                  <area target="" alt="20" title="" href="" coords="217,287,7" shape="circle">
                  <area target="" alt="21" title="" href="" coords="63,302,7" shape="circle">
                  <area target="" alt="22" title="" href="" coords="216,301,7" shape="circle">
                  <area target="" alt="23" title="" href="" coords="45,271,7" shape="circle">
                  <area target="" alt="24" title="" href="" coords="235,271,7" shape="circle">
                  <area target="" alt="25" title="" href="" coords="45,291,6" shape="circle">
                  <area target="" alt="26" title="" href="" coords="235,291,7" shape="circle">
                  <area target="" alt="27" title="" href="" coords="44,308,8" shape="circle">
                  <area target="" alt="28" title="" href="" coords="236,308,7" shape="circle">
                  <area target="" alt="29" title="" href="" coords="33,266,6" shape="circle">
                  <area target="" alt="30" title="" href="" coords="246,267,7" shape="circle">
                  <area target="" alt="31" title="" href="" coords="31,287,7" shape="circle">
                  <area target="" alt="32" title="" href="" coords="249,288,7" shape="circle">
                  <area target="" alt="33" title="" href="" coords="30,299,7" shape="circle">
                  <area target="" alt="34" title="" href="" coords="250,300,7" shape="circle">
                  <area target="" alt="35" title="" href="" coords="20,263,6" shape="circle">
                  <area target="" alt="36" title="" href="" coords="16,275,6" shape="circle">
                  <area target="" alt="37" title="" href="" coords="13,286,6" shape="circle">
                  <area target="" alt="38" title="" href="" coords="259,263,7" shape="circle">
                  <area target="" alt="39" title="" href="" coords="263,275,7" shape="circle">
                  <area target="" alt="40" title="" href="" coords="265,286,7" shape="circle">
                  <area target="" alt="41" title="" href="" coords="121,305,9" shape="circle">
                  <area target="" alt="42" title="" href="" coords="164,304,9" shape="circle">
                  <area target="" alt="43" title="" href="" coords="107,353,8" shape="circle">
                  <area target="" alt="44" title="" href="" coords="182,351,9" shape="circle">
                  <area target="" alt="45" title="" href="" coords="103,395,9" shape="circle">
                  <area target="" alt="46" title="" href="" coords="184,393,10" shape="circle">
                  <area target="" alt="47" title="" href="" coords="126,471,7" shape="circle">
                  <area target="" alt="48" title="" href="" coords="125,485,7" shape="circle">
                  <area target="" alt="49" title="" href="" coords="162,469,6" shape="circle">
                  <area target="" alt="50" title="" href="" coords="162,482,7" shape="circle">
                  <area target="" alt="51" title="" href="" coords="107,465,6" shape="circle">
                  <area target="" alt="52" title="" href="" coords="107,483,6" shape="circle">
                  <area target="" alt="53" title="" href="" coords="181,463,6" shape="circle">
                  <area target="" alt="54" title="" href="" coords="179,481,7" shape="circle">
                  <area target="" alt="55" title="" href="" coords="95,463,6" shape="circle">
                  <area target="" alt="56" title="" href="" coords="95,478,5" shape="circle">
                  <area target="" alt="57" title="" href="" coords="193,461,7" shape="circle">
                  <area target="" alt="58" title="" href="" coords="193,475,6" shape="circle">
                  <area target="" alt="59" title="" href="" coords="82,460,6" shape="circle">
                  <area target="" alt="60" title="" href="" coords="83,476,5" shape="circle">
                  <area target="" alt="61" title="" href="" coords="205,458,6" shape="circle">
                  <area target="" alt="62" title="" href="" coords="205,473,6" shape="circle">
                  <area target="" alt="63" title="" href="" coords="71,460,7" shape="circle">
                  <area target="" alt="64" title="" href="" coords="72,472,6" shape="circle">
                  <area target="" alt="65" title="" href="" coords="217,458,7" shape="circle">
                  <area target="" alt="66" title="" href="" coords="215,470,6" shape="circle">
                  <area target="" alt="" title="" href="1" coords="415,53,7" shape="circle">
                  <area target="" alt="" title="" href="2" coords="454,54,6" shape="circle">
                  <area target="" alt="" title="" href="3" coords="397,93,6" shape="circle">
                  <area target="" alt="" title="" href="4" coords="419,99,9" shape="circle">
                  <area target="" alt="" title="" href="5" coords="448,99,7" shape="circle">
                  <area target="" alt="" title="" href="6" coords="472,93,6" shape="circle">
                  <area target="" alt="" title="" href="7" coords="388,110,9" shape="circle">
                  <area target="" alt="" title="" href="8" coords="479,110,10" shape="circle">
                  <area target="" alt="" title="" href="9" coords="382,164,7" shape="circle">
                  <area target="" alt="" title="" href="10" coords="484,164,8" shape="circle">
                  <area target="" alt="" title="" href="11" coords="331,223,8" shape="circle">
                  <area target="" alt="" title="" href="12" coords="408,211,8" shape="circle">
                  <area target="" alt="" title="" href="13" coords="460,211,7" shape="circle">
                  <area target="" alt="" title="" href="14" coords="530,224,7" shape="circle">
                  <area target="" alt="" title="" href="15" coords="311,263,6" shape="circle">
                  <area target="" alt="" title="" href="16" coords="324,267,5" shape="circle">
                  <area target="" alt="" title="" href="17" coords="335,270,6" shape="circle">
                  <area target="" alt="" title="" href="18" coords="349,271,5" shape="circle">
                  <area target="" alt="" title="" href="19" coords="365,247,5" shape="circle">
                  <area target="" alt="" title="" href="20" coords="374,259,6" shape="circle">
                  <area target="" alt="" title="" href="21" coords="486,258,6" shape="circle">
                  <area target="" alt="" title="" href="22" coords="495,246,6" shape="circle">
                  <area target="" alt="" title="" href="23" coords="511,271,6" shape="circle">
                  <area target="" alt="" title="" href="24" coords="526,270,6" shape="circle">
                  <area target="" alt="" title="" href="25" coords="537,266,5" shape="circle">
                  <area target="" alt="" title="" href="26" coords="549,262,6" shape="circle">
                  <area target="" alt="" title="" href="27" coords="307,275,7" shape="circle">
                  <area target="" alt="" title="" href="28" coords="305,287,7" shape="circle">
                  <area target="" alt="" title="" href="29" coords="322,287,6" shape="circle">
                  <area target="" alt="" title="" href="30" coords="320,299,5" shape="circle">
                  <area target="" alt="" title="" href="31" coords="335,291,7" shape="circle">
                  <area target="" alt="" title="" href="32" coords="334,308,6" shape="circle">
                  <area target="" alt="" title="" href="33" coords="353,288,6" shape="circle">
                  <area target="" alt="" title="" href="34" coords="354,302,7" shape="circle">
                  <area target="" alt="" title="" href="35" coords="508,287,7" shape="circle">
                  <area target="" alt="" title="" href="36" coords="507,301,7" shape="circle">
                  <area target="" alt="" title="" href="37" coords="525,291,6" shape="circle">
                  <area target="" alt="" title="" href="38" coords="526,307,6" shape="circle">
                  <area target="" alt="" title="" href="39" coords="539,287,6" shape="circle">
                  <area target="" alt="" title="" href="40" coords="540,299,5" shape="circle">
                  <area target="" alt="" title="" href="41" coords="554,275,6" shape="circle">
                  <area target="" alt="" title="" href="42" coords="556,287,6" shape="circle">
                  <area target="" alt="" title="" href="43" coords="412,304,8" shape="circle">
                  <area target="" alt="" title="" href="44" coords="454,304,9" shape="circle">
                  <area target="" alt="" title="" href="45" coords="396,353,9" shape="circle">
                  <area target="" alt="" title="" href="46" coords="472,350,9" shape="circle">
                  <area target="" alt="" title="" href="47" coords="393,395,9" shape="circle">
                  <area target="" alt="" title="" href="48" coords="475,393,8" shape="circle">
                  <area target="" alt="" title="" href="49" coords="361,460,6" shape="circle">
                  <area target="" alt="" title="" href="50" coords="362,472,6" shape="circle">
                  <area target="" alt="" title="" href="51" coords="507,458,6" shape="circle">
                  <area target="" alt="" title="" href="52" coords="506,470,6" shape="circle">
                  <area target="" alt="" title="" href="53" coords="374,460,6" shape="circle">
                  <area target="" alt="" title="" href="54" coords="374,475,5" shape="circle">
                  <area target="" alt="" title="" href="55" coords="385,462,6" shape="circle">
                  <area target="" alt="" title="" href="56" coords="386,478,6" shape="circle">
                  <area target="" alt="" title="" href="57" coords="397,466,6" shape="circle">
                  <area target="" alt="" title="" href="58" coords="398,484,6" shape="circle">
                  <area target="" alt="" title="" href="59" coords="416,471,6" shape="circle">
                  <area target="" alt="" title="" href="60" coords="416,485,6" shape="circle">
                  <area target="" alt="" title="" href="61" coords="452,468,6" shape="circle">
                  <area target="" alt="" title="" href="62" coords="453,483,6" shape="circle">
                  <area target="" alt="" title="" href="63" coords="471,464,7" shape="circle">
                  <area target="" alt="" title="" href="64" coords="471,482,6" shape="circle">
                  <area target="" alt="" title="" href="65" coords="484,460,6" shape="circle">
                  <area target="" alt="" title="" href="66" coords="495,458,6" shape="circle">
                  <area target="" alt="" title="" href="67" coords="483,476,6" shape="circle">
                  <area target="" alt="" title="" href="68" coords="495,473,6" shape="circle">
                </map>
              </div>
            </div>
             
            <div class="col-md-6 col-sm-6 ">
              <div class="item form-group">
                <label class="col-form-label col-md-3 label-align"  for="first-name">Số khớp sưng <span class="required">*</span>
                </label>
                <div class="col-md-2">
                  <input  id="first-name" required="required" class="form-control" type="number" min="0" max="28" value="0">
                </div>
              </div>

              <div class="item form-group">
                <label class="col-form-label col-md-3 label-align"  for="first-name"> </label>
                <div class="col-md-6">
                  <input id="tags_2" type="text" class="tags form-control" value="social, adverts, sales" />
                  <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                </div>
              </div>

              <div class="item form-group">
                <label class="col-form-label col-md-3 label-align"  for="first-name">Số khớp đau <span class="required">*</span>
                </label>
                <div class="col-md-3 ">
                  <input  id="first-name" required="required" class="form-control" type="number" min="0" max="28" value="0">
                </div>
              </div>

              <div class="item form-group">
                <label class="col-form-label col-md-3 label-align"  for="first-name"> </label>
                <div class="col-md-6">
                  <input id="tags_3" type="text" class="tags form-control" value="social, adverts, sales" />
                  <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                </div>
              </div>
            </div>  
          </div>

          <br>
          
          <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="item form-group">
                  <img src="<?=_DEFAULT_URL_?>images/Xuong.png" alt="hinhkhambenh"  width="100%" style="border: 1px solid;">
                </div>
              </div>
                                    <div class="col-md-6 col-sm-6 ">
                  <div class="item form-group">
                    <label class="col-form-label col-md-3 label-align"  for="first-name">Số viêm điểm bám gân</span>
                    </label>
                    <div class="col-md-2">
                      <input  id="first-name" required="required" class="form-control" type="number" min="0" max="28" value="0">
                    </div>
                  </div>

                  <div class="item form-group">
                    <label class="col-form-label col-md-3 label-align"  for="first-name"> </label>
                    <div class="col-md-6">
                      <input id="tags_2" type="text" class="tags form-control" value="social, adverts, sales" />
                      <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                    </div>
                  </div>


                </div>
            </div>
          </div>
                        </div>
                </div>
            </div>

  <div class="row">
    <!-- II/ CAC CAU HOI -->
    <div class="col-md-6 col-sm-6 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>II/ CÁC CÂU HỎI LIÊN QUAN CHO BỆNH NHÂN<small> </small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a class="dropdown-item" href="#">Settings 1</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
          <!-- form khám bệnh  -->
                            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
            <div class="item form-group" >
              <label class="col-form-label col-md-3 label-align"  for="first-name">Mức độ đau sau khi ngủ dậy</span>
              </label>
              <div class="col-md-9 " >
                <input class="form-control" id="temp" name="slider" step="1" type="range" min="0" max="10" value="5"  list="markers">

                <datalist id="markers">
                  <option value="0"></option>
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="6"></option>
                  <option value="7"></option>
                  <option value="8"></option>
                  <option value="9"></option>
                  <option value="10"></option>
                </datalist>
              </div>

            </div>
            <div class="item form-group" >
              <label class="col-form-label col-md-3 label-align"  for="first-name">Mức độ đau sau khi ngủ dậy</span>
              </label>
              <div class="col-md-9 " >
                <input class="form-control" id="temp" name="slider" step="1" type="range" min="0" max="10" value="5"  list="markers">

                <datalist id="markers">
                  <option value="0"></option>
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="6"></option>
                  <option value="7"></option>
                  <option value="8"></option>
                  <option value="9"></option>
                  <option value="10"></option>
                </datalist>
              </div>

            </div>
            <div class="item form-group" >
              <label class="col-form-label col-md-3 label-align"  for="first-name">Mức độ đau sau khi ngủ dậy</span>
              </label>
              <div class="col-md-9 " >
                <input class="form-control" id="temp" name="slider" step="1" type="range" min="0" max="10" value="5"  list="markers">

                <datalist id="markers">
                  <option value="0"></option>
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="6"></option>
                  <option value="7"></option>
                  <option value="8"></option>
                  <option value="9"></option>
                  <option value="10"></option>
                </datalist>
              </div>
            </div>
            <div class="item form-group" >
              <label class="col-form-label col-md-3 label-align"  for="first-name">Mức độ đau sau khi ngủ dậy</span>
              </label>
              <div class="col-md-9 " >
                <input class="form-control" id="temp" name="slider" step="1" type="range" min="0" max="10" value="5"  list="markers">

                <datalist id="markers">
                  <option value="0"></option>
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="6"></option>
                  <option value="7"></option>
                  <option value="8"></option>
                  <option value="9"></option>
                  <option value="10"></option>
                </datalist>
              </div>
            </div>
            <div class="item form-group" >
              <label class="col-form-label col-md-3 label-align"  for="first-name">Mức độ đau sau khi ngủ dậy</span>
              </label>
              <div class="col-md-9 " >
                <input class="form-control" id="temp" name="slider" step="1" type="range" min="0" max="10" value="5"  list="markers">

                <datalist id="markers">
                  <option value="0"></option>
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="6"></option>
                  <option value="7"></option>
                  <option value="8"></option>
                  <option value="9"></option>
                  <option value="10"></option>
                </datalist>
              </div>
            </div>
            <div class="item form-group" >
              <label class="col-form-label col-md-3 label-align"  for="first-name">Mức độ đau sau khi ngủ dậy</span>
              </label>
              <div class="col-md-9 " >
                <input class="form-control" id="temp" name="slider" step="1" type="range" min="0" max="10" value="5"  list="markers">

                <datalist id="markers">
                  <option value="0"></option>
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="6"></option>
                  <option value="7"></option>
                  <option value="8"></option>
                  <option value="9"></option>
                  <option value="10"></option>
                </datalist>
              </div>
            </div>
            <div class="item form-group" >
              <label class="col-form-label col-md-3 label-align"  for="first-name">Mức độ đau sau khi ngủ dậy</span>
              </label>
              <div class="col-md-9 " >
                <input class="form-control" id="temp" name="slider" step="1" type="range" min="0" max="10" value="5"  list="markers">

                <datalist id="markers">
                  <option value="0"></option>
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="6"></option>
                  <option value="7"></option>
                  <option value="8"></option>
                  <option value="9"></option>
                  <option value="10"></option>
                </datalist>
              </div>
            </div>
                            </form>
                        </div>
                  </div>

      
    </div>
    <!-- II/ CAC CAU HOI -->
    <div class="col-md-6">
      <div class="x_panel">
                        <div class="x_title">
                            <h2>II/ CÁC CÂU HỎI LIÊN QUAN CHO BÁC SĨ<small> </small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a class="dropdown-item" href="#">Settings 1</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
          <!-- form khám bệnh  -->
                            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
            <div class="item form-group" >
              <label class="col-form-label col-md-3 label-align"  for="first-name">Mức độ đau sau khi ngủ dậy</span>
              </label>
              <div class="col-md-9 " >
                <input class="form-control" id="temp" name="slider" step="1" type="range" min="0" max="10" value="5"  list="markers">

                <datalist id="markers">
                  <option value="0"></option>
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="6"></option>
                  <option value="7"></option>
                  <option value="8"></option>
                  <option value="9"></option>
                  <option value="10"></option>
                </datalist>
              </div>
            </div>
            <div class="item form-group" >
              <label class="col-form-label col-md-3 label-align"  for="first-name">Mức độ đau sau khi ngủ dậy</span>
              </label>
              <div class="col-md-9 " >
                <input class="form-control" id="temp" name="slider" step="1" type="range" min="0" max="10" value="5"  list="markers">

                <datalist id="markers">
                  <option value="0"></option>
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="6"></option>
                  <option value="7"></option>
                  <option value="8"></option>
                  <option value="9"></option>
                  <option value="10"></option>
                </datalist>
              </div>
            </div>
            <div class="item form-group" >
              <label class="col-form-label col-md-3 label-align"  for="first-name">Mức độ đau sau khi ngủ dậy</span>
              </label>
              <div class="col-md-9 " >
                <input class="form-control" id="temp" name="slider" step="1" type="range" min="0" max="10" value="5"  list="markers">

                <datalist id="markers">
                  <option value="0"></option>
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="6"></option>
                  <option value="7"></option>
                  <option value="8"></option>
                  <option value="9"></option>
                  <option value="10"></option>
                </datalist>
              </div>
            </div>
            <div class="item form-group" >
              <label class="col-form-label col-md-3 label-align"  for="first-name">Mức độ đau sau khi ngủ dậy</span>
              </label>
              <div class="col-md-9 " >
                <input class="form-control" id="temp" name="slider" step="1" type="range" min="0" max="10" value="5"  list="markers">

                <datalist id="markers">
                  <option value="0"></option>
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="6"></option>
                  <option value="7"></option>
                  <option value="8"></option>
                  <option value="9"></option>
                  <option value="10"></option>
                </datalist>
              </div>
            </div>
            <div class="item form-group" >
              <label class="col-form-label col-md-3 label-align"  for="first-name">Mức độ đau sau khi ngủ dậy</span>
              </label>
              <div class="col-md-9 " >
                <input class="form-control" id="temp" name="slider" step="1" type="range" min="0" max="10" value="5"  list="markers">

                <datalist id="markers">
                  <option value="0"></option>
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="6"></option>
                  <option value="7"></option>
                  <option value="8"></option>
                  <option value="9"></option>
                  <option value="10"></option>
                </datalist>
              </div>
            </div>
            <div class="item form-group" >
              <label class="col-form-label col-md-3 label-align"  for="first-name">Mức độ đau sau khi ngủ dậy</span>
              </label>
              <div class="col-md-9 " >
                <input class="form-control" id="temp" name="slider" step="1" type="range" min="0" max="10" value="5"  list="markers">

                <datalist id="markers">
                  <option value="0"></option>
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="6"></option>
                  <option value="7"></option>
                  <option value="8"></option>
                  <option value="9"></option>
                  <option value="10"></option>
                </datalist>
              </div>
            </div>
            <div class="item form-group" >
              <label class="col-form-label col-md-3 label-align"  for="first-name">Mức độ đau sau khi ngủ dậy</span>
              </label>
              <div class="col-md-9 " >
                <input class="form-control" id="temp" name="slider" step="1" type="range" min="0" max="10" value="5"  list="markers">

                <datalist id="markers">
                  <option value="0"></option>
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="6"></option>
                  <option value="7"></option>
                  <option value="8"></option>
                  <option value="9"></option>
                  <option value="10"></option>
                </datalist>
              </div>
            </div>
                            </form>
                        </div>
                  </div>
    </div>
  </div>
  <!-- 3. XÉT NGHIỆM  -->
  <div class="row">
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>III/ XÉT NGHIỆM MỚI NHẤT <small> </small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="dropdown-item" href="#">Settings 1</a>
              </li>
              <li><a class="dropdown-item" href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        
        
      </div>
    </div>
  </div>
  </div>
  <!-- 4.Đánh giá hoạt tính bệnh và điều trị hiện tại -->
  <div class="row">
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>IV/ ĐÁNH GIÁ HOẠT TÍNH BỆNH & ĐIỀU TRỊ HIỆN TẠI <small> </small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="dropdown-item" href="#">Settings 1</a>
              </li>
              <li><a class="dropdown-item" href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <div class="row">
          <div class="col-md-6">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Tên</th>
                  <th>Hoạt chất</th>
                  <th>ĐVT</th>
                  <th>Ngày</th>
                  <th>Mỗi lần</th>
                  <th>Số lượng</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@fat</td>
                  <td>@fat</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>@twitter</td>
                  <td>@twitter</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>


          
        </div>
        
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-5">
            <div class="col-md-3">
              <div class="item form-group">
                <label class="col-form-label label-align"  for="first-name">Mã </label>
                <div class="col-md-12">
                  <input  id="first-name" required="required" class="form-control" type="text" >
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="item form-group">
                <label class="col-form-label label-align"  for="first-name">Tên </span>
                </label>
                <div class="col-md-12">
                  <input  id="first-name" required="required" class="form-control" type="text">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="item form-group">
              <label class="col-form-label label-align"  for="first-name">Hoạt chất </label>
              <div class="col-md-11">
                <input  id="first-name" required="required" class="form-control" type="text">
              </div>
            </div>
          </div>

          <div class="col-md-1">
            <div class="item form-group">
              <label class="col-form-label label-align"  for="first-name">ĐVT </span>
              </label>
              <div class="col-md-10">
                <input  id="first-name" required="required" class="form-control" type="text">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <div class="col-md-3">
              <div class="item form-group">
                <label class="col-form-label label-align"  for="first-name">Ngày</label>
                <div class="col-md-6">
                  <input  id="first-name" class="form-control" type="text" >
                </div>
                <label class="col-form-label  label-align"  for="first-name">lần, </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="item form-group">
                <label class="col-form-label  label-align"  for="first-name">lần </label>
                <div class="col-md-6">
                  <input  id="first-name"  class="form-control" type="text" >
                </div>
                <label class="col-form-label label-align"  for="first-name">viên </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="item form-group">
                <label class="col-form-label label-align"  for="first-name">Số ngày </label>
                <div class="col-md-6">
                  <input  id="first-name" class="form-control" type="text" >
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="item form-group">
                <label class="col-form-label label-align"  for="first-name">Số lượng </span>
                </label>
                  <div class="col-md-6">
                    <input  id="first-name" class="form-control" type="text" >
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="item form-group">
              <div class="col">
                <label class="col-form-label label-align"  for="first-name">Cách dùng </span>
                </label>
              </div>
                <input  id="first-name" required="required" class="form-control" type="text">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">

          </div>
          <div class="col-md-10" style="text-align: center;">
            <a class="btn btn-app">
              <i class="fa fa-medkit"></i> Thêm
            </a>
            <a class="btn btn-app">
              <i class="fa fa-stethoscope"></i> Sửa
            </a>
            <a class="btn btn-app">
              <i class="fa fa-trash-o"></i> Xóa
            </a>
            <a class="btn btn-app">
              <i class="fa fa-play"></i> Bỏ qua
            </a>
            
            

          </div>
          <div class="col-md-1">
            <a class="btn btn-app">
              <i class="fa fa-check-square"></i> Lưu
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>